<launch>
  <node pkg="nodelet" type="nodelet" ns="/aero" name="vision_nodelet_manager" output="screen"  args="manager" respawn="true"/>

  <include file="$(find aero_bringup)/launch/aero_camera_pair.launch">
    <arg name="nodelet_manager" value="/aero/vision_nodelet_manager" />
    <arg name="ns" value="/aero/upper_stereo" />
    <arg name="tf_prefix" value="aero/upper_stereo" />
    <arg name="left_ip" value="192.168.3.100" />
    <arg name="right_ip" value="192.168.4.100" />
    <arg name="trig_rate" default="20"/>
    <arg name="exposure" default="0.025"/>
    <arg name="rate_sync_threshold" default="0.50" />
  </include>

  <include file="$(find aero_bringup)/launch/aero_camera_pair.launch">
    <arg name="nodelet_manager" value="/aero/vision_nodelet_manager" />
    <arg name="ns" value="/aero/lower_stereo" />
    <arg name="tf_prefix" value="aero/lower_stereo" />
    <arg name="left_ip" value="192.168.1.100" />
    <arg name="right_ip" value="192.168.2.100" />
    <arg name="trig_rate" default="20"/>
    <arg name="exposure" default="0.001"/>
    <arg name="rate_sync_threshold" default="0.50" />
  </include>


  <node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer" ns="/aero">
    <remap from="stereo" to="upper_stereo"/>
    <remap from="image" to="/image_rect"/>
    <param name="base_link_frame_id" value="aero/base_footprint"/>
    <param name="publish_tf" value="false"/>
  </node>

</launch>