<launch>
  <arg name="nodelet_manager" default="/aero/vision_nodelet_manager"/>
  <arg name="ns" default="/aero/stereo"/>
  <arg name="tf_prefix" default="aero/upper_stereo"/>

  <arg name="left_ip" default="192.168.3.100"/>
  <arg name="right_ip" default="192.168.4.100"/>

  <arg name="trig_rate" default="30"/>

  <arg name="auto_exposure" default="true" />
  <arg name="exposure_auto_max" default="0.03" />
  <arg name="exposure" default="0.001" />
  <arg name="auto_gain" default="false" />
  <arg name="gain" default="0" />

  <arg name="stereo_image_proc" />
  <arg name="decimate" />

  <node pkg="nodelet" type="nodelet" ns="$(arg ns)" name="left_camera"
	args="load prosilica/ProsilicaNodelet $(arg nodelet_manager)" respawn="true">
    <remap from="camera" to="left"/>

    <param name="ip_address" value="$(arg left_ip)"/>
    <param name="trigger_mode" value="fixedrate" />
    <param name="trig_rate" value="$(arg trig_rate)" />
    <param name="frame_id" value="$(arg tf_prefix)/optical_frame" />
    <param name="auto_exposure" value="$(arg auto_exposure)" />
    <param name="exposure" value="$(arg exposure)" />
    <param name="exposure_auto_max" value="$(arg exposure_auto_max)" />
    <param name="auto_gain" value="$(arg auto_gain)" />
    <param name="gain" value="$(arg gain)" />
  </node>

  <node pkg="nodelet" type="nodelet" ns="$(arg ns)" name="right_camera"
	args="load prosilica/ProsilicaNodelet $(arg nodelet_manager)" respawn="true">
    <remap from="camera" to="right"/>

    <param name="ip_address" value="$(arg right_ip)"/>
    <param name="trigger_mode" value="syncin2" />
    <param name="trig_rate" value="$(arg trig_rate)" />
    <param name="frame_id" value="$(arg tf_prefix)/optical_frame" />
    <param name="auto_exposure" value="$(arg auto_exposure)" />
    <param name="exposure" value="$(arg exposure)" />
    <param name="exposure_auto_max" value="$(arg exposure_auto_max)" />
    <param name="auto_gain" value="$(arg auto_gain)" />
    <param name="gain" value="$(arg gain)" />
  </node>

  <include file="$(find image_proc)/launch/image_proc.launch"
           ns="$(arg ns)/left">
    <arg name="manager" value="$(arg nodelet_manager)" />
  </include>
  <include file="$(find image_proc)/launch/image_proc.launch"
           ns="$(arg ns)/right">
    <arg name="manager" value="$(arg nodelet_manager)" />
  </include>

<group if="$(arg stereo_image_proc)">
  <node pkg="nodelet" type="nodelet" ns="$(arg ns)" name="disparity"
        args="load stereo_image_proc/disparity $(arg nodelet_manager)">
    <param name="approximate_sync" value="true"/>
    <param name="disparity_range" type="int" value="128"/>
  </node>
</group>

<group if="$(arg decimate)">
  <node pkg="nodelet" type="nodelet" args="load image_proc/crop_decimate $(arg nodelet_manager)" ns="$(arg ns)" name="left_decimator">
    <param name="decimation_x" type="int" value="4" />
    <param name="decimation_y" type="int" value="4" />

    <!-- remap input topics -->
    <remap from="camera/image_raw" to="left/image_rect"/>
    <remap from="camera/camera_info" to="left/camera_info"/>

    <!-- remap output topics -->
    <remap from="camera_out/image_raw" to="dec/left/image_rect"/>
    <remap from="camera_out/camera_info" to="dec/left/camera_info"/>
  </node>

  <node pkg="nodelet" type="nodelet" args="load image_proc/crop_decimate $(arg nodelet_manager)" ns="$(arg ns)" name="right_decimator">
    <param name="decimation_x" type="int" value="4" />
    <param name="decimation_y" type="int" value="4" />

    <!-- remap input topics -->
    <remap from="camera/image_raw" to="right/image_rect"/>
    <remap from="camera/camera_info" to="right/camera_info"/>

    <!-- remap output topics -->
    <remap from="camera_out/image_raw" to="dec/right/image_rect"/>
    <remap from="camera_out/camera_info" to="dec/right/camera_info"/>
  </node>
</group>

</launch>
